{{- if .Values.kong.k8ingress.enabled -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ include "supabase.studio.serviceAccountName" . }}
  labels:
    {{- include "supabase.labels" . | nindent 4 }}
spec:
  parentRefs:
    - name: gateway
      namespace: istio-system
  hostnames:
    {{- range .Values.kong.k8ingress.hosts }}
    - {{ . }}
    {{- end }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: {{ include "supabase.kong.fullname" . }}
          port: {{ .Values.kong.service.port }}
{{- end }}