apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: velero
    namespace: velero
spec:
    chart:
        spec:
            chart: velero
            version: 11.3.2
            sourceRef:
                kind: HelmRepository
                name: velero
                namespace: velero
    interval: 1h0m0s
    values:
      resources:
        requests:
          cpu: 500m
          memory: 512Mi
        limits:
          cpu: 1000m
          memory: 1Gi
      credentials:
        useSecret: false
      configuration:
        backupStorageLocation:
          - name: stackai-velero
            bucket: stackai-velero
            provider: aws
            default: true
            config:
              region: us-east-1
      snapshotsEnabled: false
      initContainers:
        - name: velero-plugin-for-aws
          image: velero/velero-plugin-for-aws:v1.13.0
          volumeMounts:
            - mountPath: /target
              name: plugins
      kubectl:
        image:
          tag: 1.33.4
      schedules:
        cluster:
          paused: false
          storageLocation: stackai-velero
          includeClusterResources: true
          labels:
            referency: cluster
          schedule: "*/15 * * * *"
          useOwnerReferencesInBackup: false
          template:
            ttl: "168h"
            excludedNamespaces:
              - kube-system
              - kube-node-lease
              - kube-public
              - flux-system
              - velero
            includedNamespaces:
              - "*"
            excludedResources:
              - pod
              - job
              - replicaset
        flux:
          paused: false
          schedule: "*/15 * * * *"
          useOwnerReferencesInBackup: false
          template:
            ttl: "168h"
            storageLocation: stackai-velero
            includedNamespaces:
              - flux-system
            excludedResources:
              - pvc
              - pv
              - pod
              - replicaset
        velero:
          paused: false
          schedule: "*/15 * * * *"
          useOwnerReferencesInBackup: false
          template:
            includeClusterResources: true
            ttl: "168h"
            storageLocation: stackai-velero
            includedNamespaces:
              - velero
            excludedResources:
              - pvc
              - pv
              - pod
              - replicaset